<div class="row">
<div class="accordion span12" id="accordionp">
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <b>Serial</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Name</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>uuuu</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Actions</b>
      </div>
    </div>
    </div>
  </div>
  <% @roletasks[@start..@stop].each do |roletask| %>
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <%= link_to roletask.serial, roletask_path(roletask) %>
      </div>
      <div class="span2 accordion-toggle">
        <%= roletask.name %>
      </div>
      <div class="span2 accordion-toggle">
      </div>
      <div class="span3 accordion-toggle">
          <a class="btn btn-mini btn-info" data-toggle="collapse" data-parent="#accordionp" href="#collapse<%= roletask.id %>">Roles</a>
          <%= link_to 'Edit', edit_roletask_path(roletask), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', roletask_path(roletask), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="collapse<%= roletask.id %>" class="accordion-body collapse out">
          <div class="accordion-inner">
                 <b>Role</b> <%= link_to roletask.role.name, role_path(roletask.role) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

