<h1>Roletask</h1>

<p>
  <b>Name</b><br>
  <%= @roletask.name %>
</p>

<p>
  <b>Content</b><br>
  <%= text_area_tag 'roletask', @roletask.content, :rows => 20, :disabled => true, :class => 'text_area span8' %>
</p>

<div class="form-actions">
  <%= link_to 'Back', roletasks_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_roletask_path(@roletask), :class => 'btn' %>
  <%= link_to 'Delete', roletask_path(@roletask), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
