<div class="row">
<div class="accordion span12" id="accordionp">
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <b><%=t :serial %></b>
      </div>
      <div class="span2 accordion-toggle">
        <b><%=t :name %></b>
      </div>
      <div class="span2 accordion-toggle">
        <b><%=t :description %></b>
      </div>
      <div class="span2 accordion-toggle">
        <b><%=t :actions %></b>
      </div>
    </div>
    </div>
  </div>
  <% @workflows[@start..@stop].each do |workflow| %>
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <%= link_to workflow.serial, workflow_path(workflow) %>
      </div>
      <div class="span2 accordion-toggle">
        <%= workflow.name %>
      </div>
      <div class="span2 accordion-toggle">
        <%= workflow.description %>
      </div>
      <div class="span3 accordion-toggle">
        <a class="btn btn-mini btn-info" data-toggle="collapse" data-parent="#accordionp" href="#collapse<%= workflow.id %>"><%=t :properties %></a>
          <%= link_to t(:edit), edit_workflow_path(workflow), :class => 'btn btn-mini' %>
          <%= link_to t(:destroy), workflow_path(workflow), :method => :delete, :confirm => t(:areusure), :class => 'btn btn-mini btn-danger' %>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="collapse<%= workflow.id %>" class="accordion-body collapse out">
          <div class="accordion-inner">
            <% workflow.roletasks.each do |r| %>
                 <b><%=t :tasks %></b> <%= r.name %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

