<h1><%=t :workflow %></h1>

<p>
  <b><%=t :name %></b><br>
  <%= @workflow.name %>
</p>

<p>
  <b><%=t :description %></b><br>
  <%= @workflow.description %>
</p>

<p>
  <b><%=t :roletasks %></b><br>
    <div class="control-group">
      <div class="controls">
         <% soptions = @oeaccount.roletasks.collect {|p| [p.role.name + "::" + p.name, p.id] if p.role } 
            soptions.delete_if {|x| x == nil } %>
         <%= select("role", "task", soptions, { :prompt => t(:select) }) %>
         <%= hidden_field_tag 'id', @workflow.id %>
      </div>
    </div>
</p>
<p>
   <div id="workflowtasks">
	<% if not @roletask.nil? %>
		<% @roletask.each do |t| %>
                   <% if not t.role.nil? %>
	<p><span id="removetask" class="btn btn-mini btn-danger" data-rtask="<%= t.id %>" data-wid="<%= @workflow.id %>">Remove</span> <span><%= t.role.name + "::" + t.name %></span></p>
                   <% end %>
		<% end %>
	<% end %>
   </div>
</p>

<div class="form-actions">
  <%= link_to t(:back), workflows_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_workflow_path(@workflow), :class => 'btn' %>
  <%= link_to t(:delete), workflow_path(@workflow), :method => 'delete', :confirm => t(:areusure), :class => 'btn btn-danger' %>
</div>
