  <% if offersbyzone.nil? or imagesbyzone.nil? or firewallsbyzone.nil? %>
  <div class = "control-group" >
  </div>
  <% else %>
  <div class="control-group">
    <%= label :keypair, t(:keypair), :class => 'control-label' %>
    <div class="controls">
      <%= select("server", "keypair_id", keypairbyzone.collect{ |p| [p.name, p.id]}, {:prompt => t(:select) }) %>
    </div>
  </div>
  <div class="control-group">
    <%= label :azone, t(:subzone), :class => 'control-label' %>
    <div class="controls">
      <%= select("server", "azone_id", azonebyzone.collect{ |p| [p.name, p.id]}, {:prompt => t(:select) }) %>
    </div>
  </div>
  <div class="control-group">
    <%= label :offer, t(:offer), :class => 'control-label' %>
    <div class="controls">
      <%= select("server", "offer_id", offersbyzone.collect{ |p| [p.code + " - " + p.description , p.id] }, { :prompt => t(:select) }) %>
    </div>
  </div>
  <div class="control-group">
    <%= label :image, t(:image), :class => 'control-label'  %>
    <div class="controls">
      <%= select("server", "image_id", imagesbyzone.collect{ |p| [p.serial + " - " + p.description, p.id] }, { :prompt => t(:select) }) %>
    </div>
  </div>
  <div class="control-group">
    <%= label :firewall, t(:firewall), :class => 'control-label' %>
    <div class="controls">
      <%= select("server", "firewall_id", firewallsbyzone.collect{ |p| [p.name, p.id] }, { :prompt => t(:select) }) %>
    </div>
  </div>
  <div class="control-group">
    <%= label :loadbalancer, t(:loadbalacner), :class => 'control-label' %>
    <div class="controls">
      <%= select("server", "loadbalancer_id", loadbalancersbyzone.collect{ |p| [p.serial, p.id] }, { :prompt => t(:select) }) %>
    </div>
  </div>
  <% end %>

