<%= form_for @server, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Server</legend>
<!--
    <div class="control-group">
      <%= f.label :serial, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :serial, :class => 'text_field' %>
      </div>
    </div>
-->
    <div class="control-group">
      <%= f.label t(:fqdn), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :fqdn, :class => 'text_field' %>
      </div>
    </div>
<!--
    <div class="control-group">
      <%= f.label :physical, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :physical, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :ip, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :ip, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :pip, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :pip, :class => 'text_field' %>
      </div>
    </div>
-->

    
    <div class="control-group">
      <%= f.label t(:zone), :class => 'control-label' %>
      <div class="controls">
        <% if controller.action_name == "new" %>
          <%= select("server", "zone_id", @oeaccount.zones.collect {|p| [p.name, p.id] }, { :prompt => t(:select) }) %>
        <% else %>
          <%= select("server", "zone_id", @oeaccount.zones.collect {|p| [p.name, p.id] }, { }, { :disabled => true }) %>
        <% end %>  
      </div>
    </div>
    <div class="control-group">
      <div id="zone_select" ></div>
    </div>

    <div class="control-group">
      <%= f.label t(:roles), :class => 'control-label' %>
      <div class="controls">
        <%= f.select :role_ids,  @oeaccount.roles.all.collect {|p| [p.name, p.id] }, {}, :multiple => true  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t(:deployments), :class => 'control-label' %>
      <div class="controls">
        <%= f.select :deployment_ids,  @oeaccount.deployments.all.collect {|p| [p.name, p.id] }, {}, :multiple => true  %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t(:cancel), servers_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
