        <script type="text/javascript" src="#{monitorurl}<%= @server.serial %>-load-hour.js"></script>
        <script type="text/javascript" src="#{monitorurl}<%= @server.serial %>-memory-hour.js"></script>
        <script type="text/javascript" src="#{monitorurl}<%= @server.serial %>-cpu-0-hour.js"></script>
        <script type="text/javascript" src="#{monitorurl}<%= @server.serial %>-load-month.js"></script>
        <script type="text/javascript" src="#{monitorurl}<%= @server.serial %>-memory-month.js"></script>
        <script type="text/javascript" src="#{monitorurl}<%= @server.serial %>-cpu-0-month.js"></script>
        <script type="text/javascript" src="#{monitorurl}<%= @server.serial %>-load-year.js"></script>
        <script type="text/javascript" src="#{monitorurl}<%= @server.serial %>-memory-year.js"></script>
        <script type="text/javascript" src="#{monitorurl}<%= @server.serial %>-cpu-0-year.js"></script>
        <div class="row">
          <div id="servergraphcontainer1" class="span8">
          </div>
        </div>
        <div class="row">
          <div id="servergraphcontainer2" class="span8">
          </div>
        </div>
        <div class="row">
          <div id="servergraphcontainer3" class="span8">
          </div>
        </div>


