<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @server.physical %>
  <div class="field">
    <%= f.label t(:serial) %><br />
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label t(:fqdn) %><br />
    <%= f.text_field :fqdn %>
  </div>
  <div class="field">
    <%= f.label t(:physical) %><br />
    <%= f.check_box :physical %>
  </div>
  <div class="field">
    <%= f.label t(:ip) %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label t(:pip) %><br />
    <%= f.text_field :pip %>
  </div>
  <div class="field">
    <%= f.label t(:zone) %></br>
    <%= select("server", "zone_id", @oeaccount.zones.collect {|p| [p.name, p.id] }, { :prompt => t(:select) }) %>
  </div>
  <div id="zone_select">
  </div>
  <div class="field">
     <%= f.label t(:role) %></br>
     <%= select("roles", "ids", @oeaccount.roles.collect {|p| [p.name, p.id] }, { :prompt => t(:select) }) %>
  </div>
  <div class="field">
     <%= f.label t(:deployment) %></br>
     <%= select("deployments", "ids", @oeaccount.deployments.collect {|p| [p.name, p.id] }, { :prompt => t(:select) }) %>
  </div>
  <% else %>
   <div class="field">
    <%= f.label t(:serial) %><br />
    <%= f.text_field :serial, :disabled => true  %>
  </div>
  <div class="field">
    <%= f.label t(:fqdn) %><br />
    <%= f.text_field :fqdn, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label t(:physical) %><br />
    <%= f.check_box :physical, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label t(:ip) %><br />
    <%= f.text_field :ip, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label t(:pip) %><br />
    <%= f.text_field :pip, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label t(:zone) %></br>
    <%= select("server", "zone_id", Zone.all.collect {|p| [p.name, p.id] }, { :disabled => true }, { :disabled => true } ) %>
  </div>
  <div id="zone_select">
  </div>
  <div class="field">
     <%= f.label t(:role) %></br>
     <%= select("roles", "ids", Role.all.collect {|p| [p.name, p.id] }, { :prompt => t(:select) }) %>
  </div>
  <div class="field">
     <%= f.label t(:deployment) %></br>
     <%= select("deployments", "ids", Deployment.all.collect {|p| [p.name, p.id] }, { :prompt => t(:select) }) %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
