<h1>Server</h1>
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span3 well">
        <p>
          <b>Serial</b><br>
          <%= @server.serial %>
        </p>
        <span id="autorefreshgraph" class="label label-info">AutoRefresh</span>
        <a  class="btn btn-mini btn-info" data-toggle="collapse" data-target="#properties">Properties</a>
        <div id="properties" class="collapse out"> 
          <br>
          <p>
            <b>Fqdn</b><br>
            <%= @server.fqdn %>
          </p>
          <!--
          <p>
            <b>Physical</b><br>
            <%= @server.physical %>
            </p>
          -->
          <p>
            <b>Ip</b><br>
            <%= @server.ip %>
          </p>
          <p>
            <b>Pip</b><br>
            <%= @server.pip %>
          </p>
        </div>
        <br>
        <p>
        <b>Role:</b>
        <br>
        <% @server.roles.each do |r| %>
          <a class="btn btn-mini btn-info" data-toggle="collapse" data-target="#rolet<%= r.name %>">Tasks</a><br>
          <%= r.name %>
          <div id="rolet<%= r.name %>" class="collapse out">
            <br>
            <% r.roletasks.each do |t| %>
                <%= link_to "Execute", { :controller => "servers", :action => "taskexec", :id => @server.id, :role_id => r.id, :roletask_id => t.id }, :method => 'post', :confirm => "Are you sure?", :class => 'btn btn-mini btn-sucess' %> <%= t.name %> <br>
            <% end %>
            <br>
          </div>
        <% end %>
        </p>
      </div>
      <div class="span8 well">
        <%= render 'servers/graph.js' %>
        <%= render 'servers/graph', :monitorurl => OpenescalarAmun::Application.config.monitoringurl %>
      </div> 
    </div>
    <div class="row">
      <div class="span8">
        <span id="logautorefresh" class="label label-info" data-serial=<%= @server.serial %>>Auto Refresh Log</span>
        <a  class="btn btn-mini btn-info" data-toggle="collapse" data-target="#logios">Show Log</a>
        <div id="logios" data-serial="<%= @server.id %>" class="collapse out">
           <textarea id="logiostext" class="span10" rows="25"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= link_to 'Back', servers_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_server_path(@server), :class => 'btn' %>
  <%= link_to 'Delete', server_path(@server), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
