<h1>Server</h1>
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span3 well">
        <p>
          <b><%=t :serial)</b><br>
          <%= @server.serial %>
        </p>
        <span id="autorefreshgraph" class="label label-info"><%=t :autorefresh %></span>
        <a  class="btn btn-mini btn-info" data-toggle="collapse" data-target="#properties"><%=t :properties %></a>
        <div id="properties" class="collapse out"> 
          <br>
          <p>
            <b><%=t :fqdn %></b><br>
            <%= @server.fqdn %>
          </p>
          <!--
          <p>
            <b>Physical</b><br>
            <%= @server.physical %>
            </p>
          -->
          <p>
            <b><%=t :ipaddress %></b><br>
            <%= @server.ip %>
          </p>
          <p>
            <b><%=t :privateipaddress %></b><br>
            <%= @server.pip %>
          </p>
        </div>
        <br>
        <p>
        <b><%=t :role %>:</b>
        <br>
        <% @server.roles.each do |r| %>
          <a class="btn btn-mini btn-info" data-toggle="collapse" data-target="#rolet<%= r.name %>"><%=t :tasks %></a><br>
          <%= r.name %>
          <div id="rolet<%= r.name %>" class="collapse out">
            <br>
            <% r.roletasks.each do |t| %>
                <%= link_to t(:execute), { :controller => "servers", :action => "taskexec", :id => @server.id, :role_id => r.id, :roletask_id => t.id }, :method => 'post', :confirm => t(:areusure), :class => 'btn btn-mini btn-sucess' %> <%= t.name %> <br>
            <% end %>
            <br>
          </div>
        <% end %>
        </p>
      </div>
      <div class="span8 well">
        <%= render 'servers/graph.js' %>
        <%= render 'servers/graph', :monitorurl => OpenescalarAmun::Application.config.monitoringurl %>
      </div> 
    </div>
    <div class="row">
      <div class="span8">
        <span id="logautorefresh" class="label label-info" data-serial=<%= @server.serial %><%=t :autorefresh %></span>
        <a  class="btn btn-mini btn-info" data-toggle="collapse" data-target="#logios"><%=t :showlog %></a>
        <div id="logios" data-serial="<%= @server.id %>" class="collapse out">
           <textarea id="logiostext" class="span10" rows="25"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= link_to t(:back), servers_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_server_path(@server), :class => 'btn' %>
  <%= link_to t(:delete), server_path(@server), :method => 'delete', :confirm => t(:areusure), :class => 'btn btn-danger' %>
</div>
