<% if @oeuser.id != 1 %>
<div class="container-fluid">
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span10">
        <% if flash[:error] %>
          <div class="row"><div class="span10 alert alert-danger"><%= flash[:error] %></div></div>
        <% end %>
        <h1>My Dashboard</h1>
      </div>
    </div>
    <div class="row">
     <div class="span3">
        <%= render 'home/myclouds' %>
        <%= render 'home/myusers' %>
     </div>
     <div class="span8">
       <div class="row">
        <div class="span8">
	         <%= render 'home/mybill' %>
                 <%= render 'home/myinfra' %>
        </div>
       </div>
       <div class="row">
         <div class="span4">
	<%= render 'home/mystats' %>
         </div>
         <div class="span4">
	<%= render 'events/lastevents' %>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>
</div>
<% end %>
