<div class="row">
<div class="accordion span12" id="accordionp">
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span3 accordion-toggle">
        <b>Event</b>
      </div>
      <div class="span1 accordion-toggle">
        <b>Status</b>
      </div>
      <div class="span1 accordion-toggle">
        <b>User</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Description</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Actions</b>
      </div>
    </div>
    </div>
  </div>
  <% @events[@start..@stop].each do |event| %>
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span3 accordion-toggle">
        <%= link_to event.ident, { :controller => 'events', :action => 'show', :ident => event.ident }  %>
      </div>
      <div class="span1 accordion-toggle">
        <% case event.status
             when 0 %>
             <span class="label label-success">OK</span>
        <%   when 4 %>
             <span class="label label-warning">PROCESS</span>
        <%   else %>
             <span class="lable label-danger">ERROR</span>
        <% end %>
      </div>
      <div class="span1 accordion-toggle">
        <%= event.user %>
      </div>
      <div class="span2 accordion-toggle">
        <%= event.description %>
      </div>
      <div class="span2 accordion-toggle">
        <a class="btn btn-mini btn-info" data-toggle="collapse" data-parent="#accordionp" href="#collapse<%= event.id %>">Output</a>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="collapse<%= event.id %>" class="accordion-body collapse out">
          <div class="accordion-inner">
             <textarea class="span8" rows="10" disabled><%= event.output %></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

