<h1><%=t :firewall %></h1>

<p>
  <b><%=t :serial %></b><br>
  <%= @firewall.serial %>
</p>

<p>
  <b><%=t :name %></b><br>
  <%= @firewall.name %>
</p>

<p>
  <b><%=t :description %></b><br>
  <%= @firewall.description %>
</p>

<div class="form-actions">
  <%= link_to t(:back), firewalls_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_firewall_path(@firewall), :class => 'btn' %>
  <%= link_to t(:delete), firewall_path(@firewall), :method => 'delete', :confirm => t(:areusure), :class => 'btn btn-danger' %>
</div>
