<h1>Firewall</h1>

<p>
  <b>Serial</b><br>
  <%= @firewall.serial %>
</p>

<p>
  <b>Name</b><br>
  <%= @firewall.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @firewall.description %>
</p>

<div class="form-actions">
  <%= link_to 'Back', firewalls_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_firewall_path(@firewall), :class => 'btn' %>
  <%= link_to 'Delete', firewall_path(@firewall), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
