<div class="row">
<div class="accordion span12" id="accordionp">
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <b>Serial</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Status</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Size</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Actions</b>
      </div>
    </div>
    </div>
  </div>
  <% @volumes[@start..@stop].each do |volume| %>
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <%= volume.serial %>
      </div>
      <div class="span2 accordion-toggle">
        <%= volume.status %>
      </div>
      <div class="span2 accordion-toggle">
        <%= volume.size %>
      </div>
      <div class="span3 accordion-toggle">
          <a class="btn btn-mini btn-info" data-toggle="collapse" data-parent="#accordionp" href="#collapse<%= volume.id %>">Properties</a>
          <%= link_to 'Destroy', volume_path(volume), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="collapse<%= volume.id %>" class="accordion-body collapse out">
          <div class="accordion-inner">
            <b>Description</b><%= volume.description %><br>
            <b>Device</b><%= volume.device %><br>
            <b>Server</b><%= volume.server.serial if not volume.server.nil? %><br> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

