<h1><%=t :volume %></h1>

<p>
  <b><%=t :serial %></b><br>
  <%= @volume.serial %>
</p>

<p>
  <b><%=t :description %></b><br>
  <%= @volume.description %>
</p>

<p>
  <b><%=t :size %></b><br>
  <%= @volume.size %>
</p>

<div class="form-actions">
  <%= link_to t(:back), volumes_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_volume_path(@volume), :class => 'btn' %>
  <%= link_to t(:delete), volume_path(@volume), :method => 'delete', :confirm => t(:areusure), :class => 'btn btn-danger' %>
</div>
