<%= form_for @zone, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Zone</legend>

    <div class="control-group">
      <%= f.label t(:name), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t(:description), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t(:entrypoint), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :entrypoint, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t(:apitype), :class => 'control-label' %>
      <div class="controls">
         <% if controller.action_name == "new" %>
           <%= select("zone", "apitype", options_for_select([["Amazon","AWS"],["Rackspace OpenCloud","RSOPEN"],["HP Cloud","HPOS"],["OpenStack","OSNOVA"],["Eucalyptus","EUCA"],["TestCloud","TEST"]]), { :prompt => t(:select) } ) %>
         <% else %>
           <%= @zone.apitype %>
         <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t(:keyusername), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :key, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t(:secretpassword), :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :secret, :class => 'password_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t(:tenant), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tenant, :class => 'text_field' %>
      </div>
    </div>    

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t(:cancel), zones_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
