<h1>Zone</h1>

<p>
  <b>Name</b><br>
  <%= @zone.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @zone.description %>
</p>

<p>
  <b>Entrypoint</b><br>
  <%= @zone.entrypoint %>
</p>

<p>
  <b>Apitype</b><br>
  <%= @zone.apitype %>
</p>

<p>
  <b>Username/Key</b><br>
  <%= @zone.key %>
</p>

<p>
  <b>Tenant</b><br>
  <%= @zone.tenant %>
</p>
<!--
<% if not @zone.imported -%>
<p>
  <b>Resources<b><%= link_to 'Import', '/zones/' + @zone.id.to_s + '/import', :method => 'post', :confirm => 'This will import all your Images, Firewall Rules and Volumes from the ' + @zone.name + ' Are you sure?', :class => 'btn btn-info' %>
<p>
<% end %>
-->

<div class="form-actions">
  <%= link_to 'Back', zones_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_zone_path(@zone), :class => 'btn' %>
  <%= link_to 'Delete', zone_path(@zone), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
