<h1><%=t :zone %></h1>

<p>
  <b><%=t :name %></b><br>
  <%= @zone.name %>
</p>

<p>
  <b><%=t :description %></b><br>
  <%= @zone.description %>
</p>

<p>
  <b><%=t :entrypoint %></b><br>
  <%= @zone.entrypoint %>
</p>

<p>
  <b><%=t :apitype %></b><br>
  <%= @zone.apitype %>
</p>

<p>
  <b><%=t :keyusername %></b><br>
  <%= @zone.key %>
</p>

<p>
  <b><%=t :tenant %></b><br>
  <%= @zone.tenant %>
</p>
<!--
<% if not @zone.imported -%>
<p>
  <b>Resources<b><%= link_to 'Import', '/zones/' + @zone.id.to_s + '/import', :method => 'post', :confirm => 'This will import all your Images, Firewall Rules and Volumes from the ' + @zone.name + ' Are you sure?', :class => 'btn btn-info' %>
<p>
<% end %>
-->

<div class="form-actions">
  <%= link_to t(:back), zones_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_zone_path(@zone), :class => 'btn' %>
  <%= link_to t(:delete), zone_path(@zone), :method => 'delete', :confirm => t(:areusure), :class => 'btn btn-danger' %>
</div>
