<div class="row">
<div class="accordion span12" id="accordionp">
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <b>Code</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Description</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Zone</b>
      </div>
      <div class="span2 accordion-toggle">
        <b>Actions</b>
      </div>
    </div>
    </div>
  </div>
  <% @offers[@start..@stop].each do |offer| %>
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <%= offer.code %>
      </div>
      <div class="span2 accordion-toggle">
        <%= offer.description %>
      </div>
      <div class="span2 accordion-toggle">
        <%= offer.zone.name %>
      </div>
      <div class="span3 accordion-toggle">
        <a class="btn btn-mini btn-info" data-toggle="collapse" data-parent="#accordionp" href="#collapse<%= offer.id %>">Servers</a>
          <%= link_to 'Edit', edit_offer_path(offer), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', offer_path(offer), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="collapse<%= offer.id %>" class="accordion-body collapse out">
          <div class="accordion-inner">
            <% offer.servers.each do |s| %>
                 <b>Server</b> <%= s.serial %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

