<h1><%=t :offer %></h1>

<p>
  <b><%=t :code %></b><br>
  <%= @offer.code %>
</p>

<p>
  <b><%=t :description %></b><br>
  <%= @offer.description %>
</p>


<div class="form-actions">
  <%= link_to t(:back), offers_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_offer_path(@offer), :class => 'btn' %>
  <%= link_to t(:delete), offer_path(@offer), :method => 'delete', :confirm => t(:areusure), :class => 'btn btn-danger' %>
</div>
