<div class="row">
<div class="accordion span12" id="accordionp">
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <b><%=t :serial %></b>
      </div>
      <div class="span2 accordion-toggle">
        <b><%=t :name %></b>
      </div>
      <div class="span2 accordion-toggle">
        <b><%=t :description %></b>
      </div>
      <div class="span2 accordion-toggle">
        <b><%=t :actions %></b>
      </div>
    </div>
    </div>
  </div>
  <% @roles[@start..@stop].each do |role| %>
  <div class="accordion-group">
    <div class="row">
    <div class="accordion-heading">
      <div class="span2 accordion-toggle">
        <%= link_to role.serial, role_path(role) %>
      </div>
      <div class="span2 accordion-toggle">
        <%= role.name %>
      </div>
      <div class="span2 accordion-toggle">
        <%= role.description %>
      </div>
      <div class="span3 accordion-toggle">
          <a class="btn btn-mini btn-info" data-toggle="collapse" data-parent="#accordionp" href="#collapse<%= role.id %>"><%=t :tasks %></a>
          <a class="btn btn-mini btn-info" data-toggle="collapse" data-parent="#accordionp" href="#collapse1<%= role.id %>"><%=t :servers %></a>
          <%= link_to t(:edit), edit_role_path(role), :class => 'btn btn-mini' %>
          <%= link_to t(:destroy), role_path(role), :method => :delete, :confirm => t(:areusure), :class => 'btn btn-mini btn-danger' %>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="collapse<%= role.id %>" class="accordion-body collapse out">
          <div class="accordion-inner">
            <% role.roletasks.each do |r| %>
                 <b><%=t :roletask %></b> <%= link_to r.serial, roletask_path(r) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="collapse1<%= role.id %>" class="accordion-body collapse out">
          <div class="accordion-inner">
            <% role.servers.each do |a| %>
                 <b><%=t :serial %></b> <%= link_to a.serial, server_path(a) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

