<h1>Role</h1>

<p>
  <b>Name</b><br>
  <%= @role.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @role.description %>
</p>

<p>
  <b>Tasks</b><br>
  <% @role.roletasks.each do |t| %>
    <%= link_to "Execute", { :controller => "roles", :action => "roleexec", :id => @role.id, :roletask_id => t.id }, :confirm => "Are you sure?", :class => 'btn btn-mini btn-sucess' , :method => 'post' %> <%= link_to t.name, roletask_path(t.id) %><br>
  <% end %>
</p>


<div class="form-actions">
  <%= link_to 'Back', roles_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_role_path(@role), :class => 'btn' %>
  <%= link_to 'Delete', role_path(@role), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
