<h1><%=t :role %></h1>

<p>
  <b><%=t :name %></b><br>
  <%= @role.name %>
</p>

<p>
  <b><%=t :description %></b><br>
  <%= @role.description %>
</p>

<p>
  <b><%=t :tasks %></b><br>
  <% @role.roletasks.each do |t| %>
    <%= link_to t(:execute), { :controller => "roles", :action => "roleexec", :id => @role.id, :roletask_id => t.id }, :confirm => t(:areusure), :class => 'btn btn-mini btn-sucess' , :method => 'post' %> <%= link_to t.name, roletask_path(t.id) %><br>
  <% end %>
</p>


<div class="form-actions">
  <%= link_to t(:back), roles_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_role_path(@role), :class => 'btn' %>
  <%= link_to t(:delete), role_path(@role), :method => 'delete', :confirm => t(:areusue), :class => 'btn btn-danger' %>
</div>
