<p id="notice"><%= notice %></p>

<p>
  <b><%=t :name %>:</b>
  <%= @keypair.name %>
</p>

<p>
  <b><%=t :public %>:</b>
  <%= @keypair.public %>
</p>

<p>
  <b><%=t :fingerprint %>:</b>
  <%= @keypair.fingerprint %>
</p>


<%= link_to t(:edit), edit_keypair_path(@keypair) %> |
<%= link_to t(:back), keypairs_path %>
