<h1><%=t :rules %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t :protocol %></th>
      <th><%=t :from_port %></th>
      <th><%=t :to_port %></th>
      <th><%=t :source %></th>
      <th><%=t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @rules[@start..@stop].each do |rule| %>
      <tr>
        <td><%= link_to rule.protocol, rule_path(rule) %></td>
        <td><%= rule.fromport %></td>
        <td><%= rule.toport %></td>
        <td><%= rule.source %></td>
        <td>
          <%= link_to t(:destroy), rule_path(rule), :method => :delete, :confirm => t(:areusure), :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t(:new), new_rule_path, :class => 'btn btn-primary' %>
<%= render :partial => 'paginate', :locals => {:total => @rules.size, :page => @page, :objres => "rules" } %>

