<h1><%=t :rule %></h1>

<p>
  <b><%=t :protocol %></b><br>
  <%= @rule.protocol %>
</p>

<p>
  <b><%=t :port %></b><br>
  <%= @rule.port %>
</p>

<p>
  <b><%=t :source %></b><br>
  <%= @rule.source %>
</p>

<div class="form-actions">
  <%= link_to t(:back), rules_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_rule_path(@rule), :class => 'btn' %>
  <%= link_to t(:delete), rule_path(@rule), :method => 'delete', :confirm => t(:areusure), :class => 'btn btn-danger' %>
</div>
