<h1><%=t :deployment %></h1>

<p>
  <b><%=t :serial %></b><br>
  <%= @deployment.serial %>
</p>

<p>
  <b><%=t name %></b><br>
  <%= link_to t(:deploy), { :controller => "deployments", :action => "deploy", :id => @deployment.id }, :confirm => t(:areusure), :class => 'btn btn-mini btn-success', :method => 'post' %> <%= link_to @deployment.name, deployment_path(@deployment) %> <br>
</p>

<p>
  <b><%=t :description %></b><br>
  <%= @deployment.description %>
</p>

<p>
  <b><%=t :workflows %></b><br>
  <% @deployment.workflows.each do |w| %>
  <%= link_to t(:execute), { :controller => "deployments", :action => "deployworkflow", :id => @deployment.id, :wf => w.id }, :confirm => t(:areusure), :class => 'btn btn-mini btn-success', :method => 'post' %> <%= w.name %> <br>
  <% end %>
</p>

<div class="form-actions">
  <%= link_to t(:back), deployments_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_deployment_path(@deployment), :class => 'btn' %>
  <%= link_to t(:delete), deployment_path(@deployment), :method => 'delete', :confirm => t(:areusure), :class => 'btn btn-danger' %>
</div>
