<%= form_for @image, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Image</legend>

    <div class="control-group">
      <%= f.label :serial, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :serial, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :arch, :class => 'control-label' %>
      <div class="controls">
        <%= select("image", "arch", options_for_select([["x86_64","x86_64"],["i686","i686"]]), { :prompt => 'Select Arch' } ) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :zone_id, :class => 'control-label' %>
      <div class="controls">
        <%= select("image", "zone_id", @oeaccount.zones.collect {|p| [p.name, p.id] }, { :prompt => 'Select Zone' }) %>
      </div>
    </div>

    <div id="zone_select">
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', images_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
