<h1><%=t :image %></h1>

<p>
  <b><%=t :serial %></b><br>
  <%= @image.serial %>
</p>

<p>
  <b><%=t :description %></b><br>
  <%= @image.description %>
</p>

<p>
  <b><%=t :arch %></b><br>
  <%= @image.arch %>
</p>

<div class="form-actions">
  <%= link_to t(:back), images_path, :class => 'btn'  %>
  <%= link_to t(:edit), edit_image_path(@image), :class => 'btn' %>
  <%= link_to t(:delete), image_path(@image), :method => 'delete', :confirm => t(:areusure), :class => 'btn btn-danger' %>
</div>
