<h1><%=t :account %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t :name %></th>
      <th><%=t :created_at %></th>
      <th><%=t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts[@start..@stop].each do |account| %>
      <tr>
        <td><%= link_to account.name, account_path(account) %></td>
        <td><%= account.created_at %></td>
        <td>
          <%= link_to t(:edit), edit_account_path(account), :class => 'btn btn-mini' %>
          <%= link_to t(:destroy), account_path(account), :method => :delete, :confirm => t(:areusure), :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t(:new), new_account_path, :class => 'btn btn-primary' %>
<%= render :partial => 'paginate', :locals => {:total => @accounts.size, :page => @page, :objres => "accounts" } %>

